<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461536806556-2q9iho4rhp5unh9n2jvlj9unejci6oan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461536806556-2q9iho4rhp5unh9n2jvlj9unejci6oan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461536806556-nb6fhv61e70mqspdtsepad603jiqigat.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYU8TjgoYXyHTeaSOFlv-br13ahfOg2p0</string>
	<key>GCM_SENDER_ID</key>
	<string>461536806556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.equiresolve</string>
	<key>PROJECT_ID</key>
	<string>equiresolve</string>
	<key>STORAGE_BUCKET</key>
	<string>equiresolve.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461536806556:ios:78d1087634c744a7ac0f59</string>
</dict>
</plist>