<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19738508514-cif9mkedb68f281efcn4apoeg1ckimj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19738508514-cif9mkedb68f281efcn4apoeg1ckimj6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19738508514-td2o8n39cnvqau9curmq23tt8g9b49h8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTBRvDblhjXi8nlN9gWB5MAFsBGQ3Y4FU</string>
	<key>GCM_SENDER_ID</key>
	<string>19738508514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.equiresolve</string>
	<key>PROJECT_ID</key>
	<string>equiresolveapp</string>
	<key>STORAGE_BUCKET</key>
	<string>equiresolveapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19738508514:ios:a0e7eeb5ad595dfa41b2bb</string>
	<key>DATABASE_URL</key>
	<string>https://equiresolveapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>